@model HaloDocDataAccess.ViewModels.ViewNotes
@{
    Layout = "_AdminLayout";
}


<form class="container w-50 mt-5 viewcasecard" method="post" action="@Url.Action("ViewNotesUpdate","Admin")">
    <input asp-for="Requestclientid" hidden/>
    
    <div class="d-flex justify-content-between mt-3">
        <div class="form-group align-items-center m-2 p-4 shadow col-6">
            <div class="dropdown"> 
                <div class="d-flex">
                    <i class="fa-solid fa-arrow-right-arrow-left fa-2xl mt-4 mx-2"></i>
                    <p class="mt-2">
                        <strong> <big>Transfer Notes</big></strong>
                </div>
               @*  <p class="ml-4">@Model.TransferNotes </p> *@
                <ul class="dropdown-menu">
                    @for (var i = 0; i < Model.Statuslogs.Count; i++)
                    {
                        <li><a class="dropdown-item">Admin transferred to Dr. <span class="text-uppercase">@Model.PhysicianName</span>  on @Model.Statuslogs[i].CreatedDate.ToString("dd/MMM/yyyy") at @Model.Statuslogs[i].CreatedDate.ToString("HH:mm:ss") : Test assign</a></li>
                    }
                </ul>
            </div>
        </div>
        <div class="form-group align-items-center m-2 p-4 shadow col-6">
            <div>
                <div class="d-flex">
                    <i class="fa-solid fa-user-tie fa-2xl mt-4 mx-2"></i>
                    <p class="mt-2">
                        <strong> <big>Physician Notes</big></strong>
                </div>
                <p class="ml-4">@Model.PhysicianNotes </p>
            </div>
        </div>
    </div>
    <div class="mt-3">
        <div class="form-group align-items-center m-2 p-4 col-6 shadow">
            <div>
                <div class="d-flex">
                    <i class="fa-solid fa-user-doctor fa-2xl mt-4 mx-2"></i>
                    <p class="mt-2">
                        <strong> <big>Admin Notes</big></strong>
                </div>
                <p class="ml-4">@Model.AdminNotes </p>
            </div>
        </div>
    </div>
    <div class="form-group col-12 mt-4 p-4 shadow">
        <textarea asp-for="TextBox" class="form-control"
                  id="exampleFormControlTextarea1"
                  rows="7"
                  placeholder="Additional Notes" required>
         </textarea>
    </div>
    <button class="btn btn-info text-white mt-2" type="submit"><small>Save Changes</small></button>
</form>

