﻿@{
    Layout = "_AdminLayout";
}
@using HaloDocDataAccess.ViewModels;
@model HaloDocDataAccess.ViewModels.ViewCaseData
@using static HaloDocDataAccess.ViewModels.Constant
@Html.Partial("AssignCase.cshtml")
@* --------------- Main Form --------------------------  *@
<form class="container viewcasecard" method="post">
    @* --------------- Modal Header --------------------------  *@
    <div class="d-flex justify-content-between mb-4">
        <div class="d-flex justify-content-evenly">
            <h3 class="">New Request</h3>
            <span class="@Enum.GetName(typeof(RequestType), Model.RequestTypeID) text-white rounded-pill mx-3 px-3 py-2">@Enum.GetName(typeof(RequestType), Model.RequestTypeID)</span>
        </div>
        <div class=" btn d-flex justify-content-end">
            <a class="btn border border-info text-info shadow-none backButton">
                <i class="fa fa-angle-left pe-1 text-info "> </i> Back
            </a>
        </div>
    </div>
    <div class="form-group row  p-3 card-form">
        <h4 class="mt-2 mb-6">Patient Information</h4>
        <input type="hidden" asp-for="RequestID" />
        <h6 class="mt-2 mb-6">Confirmation Number</h6>
        <h6 class="text-info">MDQ12KI8HT6</h6>
        <div class="col-w-100 col-sm-12">
            <textarea asp-for="PatientNotes" class="form-control"
                      id="exampleFormControlTextarea1"
                      rows="3"
                      placeholder="Enter Brief Details of Symptoms" required disabled>
            </textarea>
        </div>
        <div class="col-sm-6">
            <input asp-for="FirstName" class="form-control col-md mt-4"
                   type="text"
                   placeholder="First Name" required disabled />
        </div>
        <div class="col-sm-6">
            <input asp-for="LastName" class="form-control form-control-md col-md col-sm mt-4"
                   type="text"
                   placeholder="Last Name" required disabled />
        </div>
        <div class="col-sm-6">
            <input asp-for="Dob" type="date"
                   class="form-control form-control-md col-md mt-4"
                   placeholder="Select Date" required disabled />
        </div>
        <div class="col-sm-5">
            <input asp-for="PhoneNumber" id="phone1"
                   type="tel"
                   class="form-control form-control-md col-md mt-4 iti" disabled />
        </div>
        <div class="col-sm-3 mt-4 small-btns">
            <button type="button" class="btn btn-outline-info ">
                <i class="fa fa-phone" aria-hidden="true"></i>

            </button>
        </div>
        <div class="col-sm-6">
            <input asp-for="Email" class="form-control form-control-md col-md mt-4"
                   type="email" id="email"
                   placeholder="Enter Email" required disabled />
        </div>
        @* <div class="col-sm-3 mt-4 small-btns">
        <a id="edit" onclick="enable_disable()" class="btn btn-info text-white rounded p-2">Edit</a>
        <input type="submit" id="submit" class="btn bg-info text-white rounded p-2" value="Save" style="display:none;">
        </div>   *@
        <h4 class="mt-4 mb-6">Location Information</h4>
        <div class="col-sm-6">
            <input asp-for="Region" class="form-control form-control-md col-md mt-4"
                   type="text"
                   placeholder="Region" disabled />
        </div>
        <div class="col-sm-5">
            <input asp-for="Address" class="form-control form-control-md col-md mt-4"
                   type="text"
                   placeholder="Business/Property Name" disabled />
        </div>
        <div class="col-sm-3 mt-4 small-btns">
            <button type="button" class="btn btn-outline-info">
                <i class="fa fa-map-marker test-info mx-1" aria-hidden="true"></i>

            </button>
        </div>
        <div class="col-sm-6">
            <input asp-for="Room" class="form-control form-control-md col-md mt-4"
                   type="text"
                   placeholder="Room #" disabled />
        </div>
        <div class="d-flex justify-content-end">
            <a class="btn btn-info text-white rounded me-1" data-bs-toggle="modal" onclick="Assigncaseid(@Model.RequestID)" data-bs-target=" #assigncase" data-id="@Model.RequestID">Assign Case</a>
            <a class="btn btn-info text-white rounded me-1" onclick="location.href='@Url.Action("ViewNotes", new {RequestId = Model.RequestID})'">View Notes</a>
            <a class="btn btn-danger text-white rounded" asp-controller="Admin" asp-action="Index">Cancel</a>
        </div>                            

    </div>
</form>
<script>
    function enable_disable() {
        $("#email").removeAttr('disabled');
        $("#phone1").removeAttr('disabled');
        $("#submit").css("display", "block");
        $("#edit").css("display", "none");
    }
    function Assigncaseid(id) {
        var RequestId = id;
        console.log(RequestId);
        document.getElementById('RequestID_ModelAssignCase').value = RequestId;
    }
</script>
<script>
    document.addEventListener('click', function (event) {
        if (event.target.classList.contains('backButton')) {
            history.back();
        }
    });
</script>