@{
    Layout = "_AdminLayout";
}
@using HaloDocDataAccess.ViewModels;
@using static HaloDocDataAccess.ViewModels.Constant;
@model SearchInputs;
<div class=" d-flex justify-content-center row mx-3 ">
    @* heading *@
    <div class="d-flex justify-content-between mt-5 p-2">
        <h4>Search Records</h4>
        <a class="btn border border-info text-info shadow-none backButton">
            <i class="fa fa-angle-left pe-1 text-info "> </i> Back
        </a>
    </div>
    @* input fields *@
    <div class="container p-4 bg-white mx-2">
        <form class="mt-2" method="post" id="myform">
            <div class="row p-2">
                <div class="col-3">
                    <select asp-for="ReqStatus" class="form-select form-select-md h-100 p-2" placeholder="All Requests">
                        <option value="0">All Status</option>
                        @foreach (var item in Enum.GetValues(typeof(Status)))
                        {
                            <option value="@((int)item)"> @item.ToString() </option>
                        }
                    </select>
                </div>
                <div class="col-3">
                    <input class="form-control rounded" asp-for="PatientName" type="text" placeholder="Patient Name">
                </div>
                <div class="col-3">
                    <select asp-for="RequestTypeID" class="form-select form-select-md h-100 p-2" placeholder="All Requests">
                        <option value="0">All Request Type</option>
                        @foreach (var item in Enum.GetValues(typeof(RequestType)))
                        {
                            <option value="@((int)item)"> @item.ToString() </option>
                        }
                    </select>
                </div>
                <div class="col-3">
                    <input class="form-control rounded" asp-for="StartDOS" type="text" placeholder="Start Date" onfocus="(this.type='date')">
                </div>
                <div class="col-3 mt-3">
                    <input class="form-control rounded" asp-for="EndDOS" type="text" placeholder="End Date" onfocus="(this.type='date')">
                </div>
                <div class="col-3 mt-3">
                    <input class="form-control" asp-for="PhyName" type="text" placeholder="Provider Name">
                </div>
                <div class="col-3 mt-3">
                    <input class="form-control" asp-for="Email" type="text" placeholder="abc@gmail.com">
                </div>
                <div class="col-3 mt-3">
                    <input type="text" asp-for="Mobile" class="form-control shadow-none" placeholder="123456">
                </div>
            </div>
            <div class="d-flex justify-content-end">
                @* save btn *@
                <div class="search m-2 shadow-none mt-5">
                    <a type="button" class="btn p-2 py-2 btn-outline-info bg-white" type="reset" id="clear" onclick="searchbtn(event)">
                        Clear
                    </a>
                </div>
                @* create acc btn  *@
                <div class="search m-2 shadow-none mt-5 ">
                    <a type="button" class="btn p-2 py-2 btn-info text-white" onclick="searchbtn(event)">
                        Search
                    </a>
                </div>
            </div>
        </form>
        <div class="mt-3">
            <table class="table table-responsive">
                <colgroup>
                    <col span="1" style="width: 12%;">
                    <col span="1" style="width: 20%;">
                    <col span="1" style="width: 20%;">
                    <col span="1" style="width: 20%;">
                    <col span="1" style="width: 30%;">
                    <col span="1" style="width: 40%;">

                </colgroup>
                @* table Head *@
                <thead class="table-head align-middle table-secondary">
                    <tr>
                        @{
                            <th scope="col">Patient Name</th>
                            <th scope="col">Requestor</th>
                            <th scope="col">Date Of service</th>
                            <th scope="col">Close Case Date</th>
                            <th scope="col">Email</th>
                            <th scope="col">Phone number</th>
                            <th scope="col">Address</th>
                            <th scope="col">Zip</th>
                            <th scope="col">Request Status</th>
                            <th scope="col">Physician</th>
                            <th scope="col">Physician Notes </th>
                            <th scope="col">Cancel By Provider Note</th>
                            <th scope="col">Admin Notes</th>
                            <th scope="col">Patient Notes</th>
                            <th scope="col">Delete Permanently</th>
                        }
                    </tr>
                </thead>
                @* table body *@
                <tbody class="table-body align-middle t-tab" id="patientbody">
                    @foreach (var item in Model.sr)
                    {
                        <tr>
                            <td scope="col">@item.PatientName</td>
                            <td scope="col">@Enum.GetName(typeof(RequestType), item.RequestTypeID)</td>
                            <td scope="col">@item.DateOfService</td>
                            @if (item.CloseCaseDate != null)
                            {
                                <td>@item.CloseCaseDate</td>
                            }
                            else
                            {
                                <td>-</td>
                            }
                            <td scope="col">@item.Email</td>
                            <td scope="col">@item.Mobile</td>
                            <td scope="col">@item.Address</td>
                            <td scope="col">@item.Zip</td>
                            <td scope="col">@Enum.GetName(typeof(Status), item.Status)</td>
                            <td scope="col">@item.Physician</td>
                            <td scope="col">@item.PhyNotes</td>
                            @if (item.CancelByPhyNotes != "")
                            {
                                <td scope="col">@item.CancelByPhyNotes</td>
                            }
                            else
                            {
                                <td>-</td>
                            }
                            <td scope="col">@item.AdminNotes</td>
                            <td scope="col">@item.PatientNotes</td>
                            <td>
                                <button class="btn btn-sm btn-outline-info mx-2 deletebtn" data-id="@item.RequestID">
                                    Delete
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@* Pagination  *@
<div class="m-2 d-flex justify-content-center">
    <nav aria-label="Page navigation example" class="pagenav" id="Pagination">
        <ul class="pagination pagination-container">
            @{
                int i;
                <form id="pageform" asp-action="RecordsSearch" asp-controller="Records" novalidate="novalidate" class="d-flex">
                    <input type="hidden" asp-for="PageSize" />
                    <input type="hidden" asp-for="TotalPages" />
                    <input type="hidden" asp-for="CurrentPage" id="currentpagevalue" />
                    <input type="hidden" asp-for="Mobile" />
                    <input type="hidden" asp-for="Email" />
                    <input type="hidden" asp-for="PhyName" />
                    <input type="hidden" asp-for="EndDOS" />
                    <input type="hidden" asp-for="StartDOS" />
                    <input type="hidden" asp-for="PatientName" />
                    <input type="hidden" asp-for="RequestTypeID" />
                    <input type="hidden" asp-for="ReqStatus" />
                    @if (@Model.CurrentPage > 1)
                    {
                    <li class="page-item me-2"><button class="btn shadow-none" onclick="setpagenumber('previous')">&lt;</button></li>
                    }
                    else
                    {
                    <li class="me-2 page-item"><button class="disabled btn border-0">&lt;</button></li>
                    }
                    @for (i = 1; i <= @Model.TotalPages; i++)
                    {
                    <li class="page-item me-2"><button class="@(i == @Model.CurrentPage ? "activepagebtn" : "") btn shadow-none" onclick="setpagenumber(@i)">@i</button></li>
                    }
                    @if (@Model.TotalPages > @Model.CurrentPage)
                    {
                    <li class="page-item me-2"><button class="btn shadow-none " onclick="setpagenumber('next')">&gt;</button></li>
                    }
                    else
                    {
                    <li class="me-2 page-item">
                        <button class="btn disabled border-0">&gt;</button>

                    </li>
                    }
                </form>
            }
        </ul>
    </nav>
</div>
@* Generic Search  *@
<script>
    function searchbtn(event) {
        var btnid = event.target.id;
        console.log(btnid);
        if (btnid == "clear") {
            $('#myform').trigger('reset');
        }
        var formData = $('#myform').serialize();
        console.log(formData);// Serialize form data
        $.ajax({
            type: "POST",
            url: '@Url.Action("RecordsSearch", "Records")',
            data: formData, // Send serialized form data
            success: function (data) {
                var bodyContent = $(data).find('tbody').html();
                var pagination = $(data).find('.pagenav').html();
                $('#patientbody').html(bodyContent);
                $('#Pagination').html(pagination);
            },
            error: function (error) {
                console.log("Error:", error);
            }
        });
    }

    $('.deletebtn').click(function (event) {
        var reqId = $(this).data("id");
        console.log(reqId);
        const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
                confirmButton: "btn btn-info m-2 shadow-none text-white",
                cancelButton: "btn btn-outline-info m-2"
            },
            buttonsStyling: false
        });

        swalWithBootstrapButtons.fire({
            title: "Are you sure you want to unblock this Request?",
            icon: "warning",
            showCancelButton: true,
            confirmButtonText: "Unblock",
            cancelButtonText: "Cancel",
        }).then((result) => {
            if (result.isConfirmed) {
                console.log("Success");
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("RecordsDelete", "Records")',
                    data: { reqId: reqId },
                    success: function (data) {
                        location.reload();
                        console.log("abc");
                        var bodyContent = $(data).find('tbody').html();
                        $('#patientbody').html(bodyContent);
                        event.preventDefault();
                    },
                    error: function (error) {
                        console.log("Error:", error);
                    }
                });
            }
        });
    });
</script>
<script>
    function setpagenumber(e) {
        
        if (e == 'previous') {
            var cp = @Model.CurrentPage-1;
            $('#currentpagevalue').val(cp);
            
        }
        else if (e == 'next') {
            var cp = @Model.CurrentPage + 1;
            $('#currentpagevalue').val(cp);
        }
        else {
            $('#currentpagevalue').val(e);
        }
        console.log($('#currentpagevalue').val());
        $('#pageform').submit();

    }
</script>