@using Entity.DataModels;
@using Demo.Models;
@model PaginatedViewModel<Student>;
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form class="form-floating mb-3 col-3 p-2" id="mainform">
    <input type="text" class="form-control search" placeholder="serach" name="value" />
    <label class="form-label">Search</label>
    <input type="hidden" name="SortColumn" id="SortColumn" />
    <input type="hidden" name="SortOrder" id="SortOrder" />
    <input type="hidden" asp-for="CurrentPage" id="CurrentPage" />
    <input type="hidden" asp-for="TotalPages" />
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a class="sortcol" data-value="name"> Name </a>
            </th>
            <th>
                <a class="sortcol" data-value="department">
                    Department
                </a>
            </th>
            <th>
                Semester
            </th>
            <th>
                Age
            </th>
            <th>
                Fees
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="tbody">
        @foreach (var item in Model.list)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Semester)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fees)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<nav aria-label="Page navigation example" class="pagenav" id="PaginationBlock">
    <ul class="pagination">
        @{
            int i;
            if (Model.CurrentPage >= 1)
            {
                <li class="page-item"><a class="page-link" data-page="@(Model.CurrentPage - 1)">&lt;</a></li>
            }
            else
            {
                <li class="page-item disabled"><a class="page-link">&lt;</a></li>
            }
            @for (i = 1; i <= Model.TotalPages; i++)
            {
                {
                    <li class="page-item">
                        <a data-page="@i" class="@(i==Model.CurrentPage?"active":"") page-link">@i</a>
                    </li>
                }

            }
            if (Model.CurrentPage < Model.TotalPages)
            {
                <li class="page-item">
                    <a class="page-link" data-page="@(Model.CurrentPage + 1)">&gt;</a>

                </li>
            }
            else
            {
                <li class="page-item disabled"><a class="page-link">&gt;</a></li>
            }
        }

    </ul>
</nav>
<script>
    var sortOrderglobal = true;
    var sortColumnglobal = "Name";
    
    $(".sortcol").on("click", function () {
        var sortColumn = $(this).data("value");
        var sortOrder = sortOrderglobal;
        if (sortColumn == sortColumnglobal) {
            sortOrderglobal = sortOrderglobal == true ? false : true;
        }
        else {
            sortColumnglobal = sortColumn;
            sortOrderglobal = sortOrderglobal == true ? false : true;
        }
        console.log(sortColumnglobal);
        console.log(sortOrderglobal);
        $('#SortOrder').val(sortOrderglobal);
        $('#SortColumn').val(sortColumnglobal);
        sortSearch();
    })
    $(".pagination a").on("click", function () {
        var currentpage = $(this).data("page");
        $('#CurrentPage').val(currentpage);
        sortSearch(event);
    })
    $(".search").on("keyup", function () {
        sortSearch("search");
    });
    function sortSearch(event) {
        //var btnid = event.target.id;
       
        
        if (event == "search") {
            $('#CurrentPage').val(1);
        }
        var formdata = $('#mainform').serialize();


        $.ajax({
            type: "GET",
            Cache: false,
            url: '/Students/Index',
            data: formdata,
            success: function (response) {

                var bodyContent = $(response).find('tbody').html();
                $('#tbody').html(bodyContent);
                var page = $(response).find('.pagenav').html();
                $('#PaginationBlock').html(page);
                console.log(page);
                console.log("ajax success");
            }

        });
    }
</script>
