﻿﻿@{
    Layout = "_AdminLayout";
}
@model HaloDocDataAccess.ViewModels.ProviderList;
@using static HaloDocDataAccess.ViewModels.Constant;
@* --------------- Main Form --------------------------  *@
<div class="container viewcasecard">
    @* --------------- Modal Header --------------------------  *@
    <div class="d-flex justify-content-between mb-4">
        <div class="d-flex justify-content-evenly">
            <h5 class="mt-3"><strong>@ViewData["Heading"]</strong></h5>
        </div>
        <div>
            <a class="btn border border-info text-info shadow-none " onclick="history.back();">
                <i class="fa fa-angle-left pe-1 text-info "> </i> Back
            </a>
        </div>
    </div>
    <div class="p-3 bg-white">
        <div class="d-flex justify-content-end">
            <button id="reqtoadminbtn" class=" btn border border-info text-info" style="display:none" data-bs-toggle="modal" data-bs-target="#requestToadmin" />Request To Admin</button>
        </div>
        @* Account Information  *@
        <div>
            @Html.Partial("../RequestToAdminModal.cshtml")
        </div>
        <form method="post" asp-action="EditProviderAccInfo" asp-controller="Provider">
            
            <div class="row">
                <input type="hidden" asp-for="PhysicianId" />
                <h6><strong>Account Information</strong></h6>
                <div class="col-lg-6">
                    <input asp-for="UserName" class="form-control col-md mt-4"
                           type="text"
                           id="username"
                           placeholder="UserName" required disabled />
                </div>
                <div class="col-lg-6">
                    <input asp-for="Password" class="form-control form-control-md col-md col-sm mt-4"
                           type="password"
                           id="password"
                           placeholder="Password" />
                </div>
            </div>
            <div class="row">
                <div class="dropdown col-lg-6 mt-4">
                    <select asp-for="Status" type="text" class="form-select mb-3" placeholder="Status" disabled asp-items="@new SelectList(Enum.GetNames(typeof(ProviderStatus)))"></select>

                </div>
                <div class="dropdown col-lg-6 mt-4">
                    <select class="form-select mb-3" required asp-for="Role" data-allow-clear="true" tabindex="-1" asp-items="@(new SelectList(ViewBag.Status, "RoleId", "Name"))" data-control="" data-placeholder="Select Role" id="role" disabled>
                    </select>


                </div>

            </div>
            @* edit button ~ acc info *@
            <div class="d-flex justify-content-end align-items-center mt-2">
                <div class="d-flex justify-content-end ">
                    <a id="edit1" onclick="enable_disable1()" class="btn btn-info text-white rounded py-2 px-3 me-2 editprofile">Edit</a>
                    <input type="submit" id="submit1" class="input btn btn-info text-white rounded py-2 px-3 me-2" value="Save" style="display:none;">
                </div>
                <div>
                    <input type="submit" value="Reset Password" id="resetpassbtn" class=" reset btn border border-info text-info" />
                </div>
            </div>
        </form>
        @* Physician Information  *@
        <form method="post" asp-action="EditProviderInfo" asp-controller="Provider" id="abcdefghi">
            <input asp-for="Regionsid" type="hidden" id="regionids" />
            <input type="hidden" asp-for="PhysicianId" />
            <div class="row">
                <h6><strong>Physician Information</strong></h6>
                <div class="col-lg-6">
                    <input asp-for="FirstName" class="form-control mt-4"
                           type="text"
                           id="fname"
                           placeholder="FirstName" required disabled />
                </div>
                <div class="col-lg-6">
                    <input class="form-control   mt-4"
                           type="text"
                           asp-for="LastName"
                           id="lname"
                           placeholder="LastName" required disabled />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <input asp-for="Email" class="form-control  mt-4"
                           type="email" id="email"
                           placeholder="Enter Email" required disabled />
                </div>
                <div class="col-lg-6 mt-4">
                    <input id="phone1"
                           asp-for="Phone"
                           type="tel"
                           class="form-control iti" disabled />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <input asp-for="MedLicence" class="form-control mt-4"
                           type="text"
                           id="medLicense"
                           placeholder="Medical License" required disabled />
                </div>
                <div class="col-lg-6">
                    <input class="form-control mt-4"
                           type="text" id="npi"
                           asp-for="NpiNum"
                           placeholder="NPI Number" required disabled />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <input class="form-control mt-4"
                           type="text" id="syncemail"
                           asp-for="SyncEmail"
                           placeholder="Synchronization Email Address" required disabled />
                </div>
                <div class="col-sm-5 mt-4 form-check d-flex flex-wrap ">
                    @foreach (var cb in ViewBag.AssignCase)
                    {
                        @if (Model != null && Model.Regionids.Count > 0 && Model.Regionids.Exists(id => id.RegionId == cb.RegionId))
                        {
                            <div class="form-check mx-2">
                                <input class="form-check-input" value="@cb.RegionId" type="checkbox" name="Region" id="" checked disabled>
                                <label class="form-check-label" for="flexCheckDefault">
                                    @cb.Name
                                </label>
                            </div>
                        }
                        else
                        {
                            <div class="form-check mx-2">
                                <input class="form-check-input" value="@cb.RegionId" type="checkbox" name="Region" id="" disabled>
                                <label class="form-check-label" for="flexCheckDefault">
                                    @cb.Name
                                </label>
                            </div>
                        }
                    }
                </div>
            </div>

            @* edit button ~ phy Info *@
            <div class="d-flex justify-content-end mt-4">
                <a id="edit2" onclick="enable_disable2()" class="input btn btn-info text-white rounded py-2 px-3 me-2 editprofile">Edit</a>
                <a id="submit2" class="input btn btn-info text-white rounded py-2 px-3 me-2" value="Save" style="display:none;">Save</a>
            </div>

        </form>
        @* Mailing Information *@
        <form method="post" asp-action="EditProviderMailingInfo" asp-controller="Provider">
            <input type="hidden" asp-for="PhysicianId" />
            <div class="row">
                <h6><strong>Mailing Information</strong></h6>
                <div class="col-lg-6">
                    <input asp-for="Add1" class="form-control mt-4"
                           type="text" id="add1"
                           placeholder="Address 1" required disabled />
                </div>
                <div class="col-lg-6">
                    <input asp-for="Add2" class="form-control mt-4"
                           type="text" id="add2"
                           placeholder="Address 2" required disabled />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <input asp-for="City" class="form-control  mt-4"
                           type="text" id="city"
                           placeholder="City" required disabled />
                </div>
                <div class="col-lg-6">
                    <input asp-for="State" class="form-control  mt-4"
                           type="text" id="state"
                           placeholder="State" required disabled />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <input asp-for="Zip" class="form-control"
                           type="text" id="zip"
                           placeholder="Zip" required disabled />
                </div>
                <div class="col-lg-6">
                    <input id="phone2"
                           type="tel"
                           asp-for="PhoneForBill"
                           class="form-control  iti" disabled />
                </div>
            </div>
            @* edit button ~ bilinginfo *@
            <div class="d-flex justify-content-end mt-4">
                <a id="edit3" onclick="enable_disable3()" class="input btn btn-info text-white rounded py-2 px-3 me-2 editprofile">Edit</a>
                <input type="submit" id="submit3" class="input btn btn-info text-white rounded py-2 px-3 me-2" value="Save" style="display:none;">
            </div>
        </form>
        @* Provider Profile *@
        <form method="post" asp-action="ProviderProfileInfo" asp-controller="Provider" enctype="multipart/form-data" id="formprofile">
            <input type="hidden" asp-for="PhysicianId" />
            <div class="row">
                <h6><strong>Provider Profile</strong></h6>
                <div class="col-lg-6">
                    <input asp-for="Bname" class="form-control mt-4"
                           type="text" id="bname"
                           placeholder="Business Name" required disabled />
                </div>
                <div class="col-lg-6">
                    <input asp-for="Bwebsite" class="form-control mt-4"
                           type="text" id="bwebsite"
                           placeholder="Business Website" required disabled />
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mt-4 pb-3">
                    <div class="d-flex justify-content-between border border-secondary rounded input4">
                        <button type="button" id="photo" class="col btn text-start fileSelect form-control" onclick="document.getElementById('file').click()" disabled>
                            Select Photo
                        </button>
                        <input id="file" type="file" class="d-none form-control doc_uploder" asp-for="Photo" data-target="photo">
                        <button type="submit" class="btn btn-info text-white" value="Upload" onclick="document.getElementById('file').click()" disabled>
                            <i class="fa fa-cloud-upload"></i>
                            <span> Upload </span>
                        </button>
                    </div>
                </div>
                <div class="col-md-5 mt-4 pb-3">
                    <div class="d-flex justify-content-between border border-secondary rounded input4">
                        <button type="button" id="signature" class="col btn text-start fileSelect form-control" onclick="document.getElementById('file').click()" disabled>
                            Select Signature
                        </button>
                        <input id="file1" type="file" class="d-none form-control doc_uploder" asp-for="signature" data-target="signature">
                        <button type="submit" class="btn btn-info text-white" value="Upload" onclick="document.getElementById('file1').click()" disabled>
                            <i class="fa fa-cloud-upload"></i>
                            <span> Upload </span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <textarea class="form-control" id="message" rows="4"
                              placeholder="Message" asp-for="Message" disabled></textarea>
                </div>
            </div>
            @* edit button ~ profile *@
            <div class="d-flex justify-content-end mt-5">
                <a id="edit4" onclick="enable_disable4()" class="input btn btn-info text-white rounded py-2 px-3 me-2 editprofile">Edit</a>
                <input id="submit4" type="submit" class="input btn btn-info text-white rounded py-2 px-3 me-2" value="Save" style="display:none;">
            </div>
        </form>
        @* Onboarding *@
        <p class="h5 p-1"><b>Onboarding </b></p>
        <input type="hidden" asp-for="PhysicianId" id="PhysicianId" />
        <table class="w-auto m-1">
            <tbody>
                <tr>
                    <td>
                        <input type="checkbox" class="form-check-input row-checkbox" name="boardcheck" value="1" disabled @(Model != null && Model.isAgreementDoc == true ? "checked" : "")>
                    </td>
                    <td>Independent Contractor Agreement</td>
                    <td>
                        <input type="file" id="files2" class="d-none form-control doc_uploder_files file-input" data-target="choosenfile">
                        <button type="submit" class="btn btn-info text-white upload-btn shadow-none">
                            <span onclick="document.getElementById('files2').click()"> Upload </span>
                        </button>
                    </td>
                    <td>
                        <button type="submit" class="btn btn-info text-white view-btn" style="display: none;">
                            <span> View </span>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" class="form-check-input row-checkbox" name="boardcheck" value="2" disabled @(Model != null && Model.isBackgroundDoc ? "checked" : "")>
                    </td>
                    <td>Background Check</td>
                    <td>
                        <input id="files3" type="file" class="d-none form-control doc_uploder">
                        <button type="submit" class="btn btn-info  upload-btn text-white shadow-none">
                            <span onclick="document.getElementById('files3').click()"> Upload </span>
                        </button>
                    </td>
                    <td>
                        <button type="submit" class="btn btn-info text-white view-btn" style="display: none;">
                            <span> View </span>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" class="form-check-input row-checkbox" name="boardcheck" value="3" disabled @(Model != null && Model.isCredentialDoc ? "checked" : "")>
                    </td>
                    <td>HIPAA Compliance</td>
                    <td>
                        <input id="files4" type="file" class="d-none form-control doc_uploder">
                        <button type="submit" class="btn btn-info upload-btn text-white shadow-none">
                            <span onclick="document.getElementById('files4').click()"> Upload </span>
                        </button>
                    </td>
                    <td>
                        <button type="submit" class="btn btn-info text-white view-btn" style="display: none;">
                            <span> View </span>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" class="form-check-input row-checkbox" name="boardcheck" value="4" disabled @(Model != null && Model.isNonDisclosureDoc ? "checked" : "")>
                    </td>
                    <td>Non-Disclosure Agreement</td>
                    <td>
                        <input id="files5" type="file" class="d-none form-control doc_uploder">
                        <button type="submit" class="btn btn-info text-white  upload-btn shadow-none">
                            <span onclick="document.getElementById('files5').click()"> Upload </span>
                        </button>
                    </td>
                    <td>
                        <button type="submit" class="btn btn-info text-white view-btn" style="display: none;">
                            <span> View </span>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" class="form-check-input row-checkbox" name="boardcheck" value="5" disabled @(Model != null && Model.isLicenseDoc ? "checked" : "")>
                    </td>
                    <td>License Document</td>
                    <td>
                        <input id="files6" type="file" class="d-none form-control doc_uploder">
                        <button type="submit" class="btn btn-info text-white upload-btn shadow-none">
                            <span onclick="document.getElementById('files6').click()"> Upload </span>
                        </button>
                    </td>
                    <td>
                        <button type="submit" class="btn btn-info text-white view-btn" style="display: none;">
                            <span> View </span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <hr />
        <div class=" d-flex justify-content-end">
            <input type="button" class="input btn bg-info text-white rounded px-3 me-2 save" value="Save" onclick="saveChng()" />
            <input type="button" class="input btn bg-danger text-white rounded px-3 dltacc" onclick="DeleteAccount()" value="Delete Account">
        </div>
    </div>
</div>

<script>
   
    // edit and save
    function enable_disable1() {
        $("#username").removeAttr('disabled');
        $("#status").removeAttr('disabled');
        $("#role").removeAttr('disabled');
        $("#submit1").css("display", "block");
        $("#edit1").css("display", "none");
    }
    function enable_disable2() {
        $("#fname").removeAttr('disabled');
        $("#lname").removeAttr('disabled');
        $("#email").removeAttr('disabled');
        $("#phone1").removeAttr('disabled');
        $("#medLicense").removeAttr('disabled');
        $("#npi").removeAttr('disabled');
        $("#syncemail").removeAttr('disabled');
        $(".form-check-input").prop("disabled", false);

        $("#submit2").css("display", "block");
        $("#edit2").css("display", "none");
    }
    function enable_disable3() {
        $("#add1").removeAttr('disabled');
        $("#add2").removeAttr('disabled');
        $("#city").removeAttr('disabled');
        $("#state").removeAttr('disabled');
        $("#zip").removeAttr('disabled');
        $("#phone2").removeAttr('disabled');
        $("#submit3").css("display", "block");
        $("#edit3").css("display", "none");
    }
    function enable_disable4() {
        $("#bname").removeAttr('disabled');
        $("#bwebsite").removeAttr('disabled');
        $("#photo").removeAttr('disabled');
        $("#signature").removeAttr('disabled');
        $("#message").removeAttr('disabled');

        $("#submit4").css("display", "block");
        $("#edit4").css("display", "none");
    }
    // provider info submit
    $(function () {
        $('#submit2').on('click', function () {
            let checkboxes = document.querySelectorAll('input[name="Region"]:checked');
            let regionIds = [];
            checkboxes.forEach((checkbox) => {
                regionIds.push(checkbox.value);
            });
            document.querySelector('#regionids').value = regionIds.join(',');
            console.log(document.querySelector('#regionids').value)
            $('#abcdefghi').submit();
        });
    });
    $(document).ready(function () {
        $('.row-checkbox').each(function () {
            var row = $(this).closest('tr');
            if ($(this).is(':checked')) {
                row.find('.view-btn').show();
            }
        });
        //Upload files
        $('.doc_uploder').change(function () {
            var filename = this.files[0].name;
            console.log(filename);
            var targetId = $(this).data('target');
            $('#' + targetId).text(filename);
            var row = $(this).closest('tr');
            row.find('.view-btn').show();
            row.find('.row-checkbox').prop('checked', true);
            row.find('.row-checkbox').prop('disabled', false);
        });
        $('.row-checkbox').change(function () {
            var row = $(this).closest('tr');
            row.find('.view-btn').hide();
            row.find('.row-checkbox').prop('disabled', true);
        });
    });
    //save btn
    function saveChng() {
        var checkboxes = [];
        var physicianid = $("#PhysicianId").val();
        $('input[name="boardcheck"]:checked').each(function () {
            checkboxes.push(this.value);
        });
        console.log(checkboxes);
        $.ajax({
            type: "POST",
            url: '@Url.Action("SaveProvider", "Provider")',
            data: { checkboxes: checkboxes, physicianid: physicianid },
            success: function (data) {
                console.log("AJAX success");
                location.reload();
            },
            error: function (error) {
                console.log("Error:", error);
            }
        });
    }
    //delete account
    function DeleteAccount() {
        var pId = $("#PhysicianId").val();

        const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
                confirmButton: "btn btn-info m-2 shadow-none text-white",
                cancelButton: "btn btn-outline-info m-2"
            },
            buttonsStyling: false
        });

        swalWithBootstrapButtons.fire({
            title: "Are you sure you want to delete this account?",
            text: "Once deleted you cannot retrieve",
            icon: "warning",
            showCancelButton: true,
            confirmButtonText: "Clear",
            cancelButtonText: "Cancel",
        }).then((result) => {
            if (result.isConfirmed) {
                console.log("Success2");
                $.ajax({
                    method: "POST",
                    url: "/Provider/DeleteProviderAccount?PhysicianId=" + pId,
                    success: function (result) {
                        console.log(result);
                        window.location.href("https://localhost:7299/Provider");
                    },

                    error: function () {
                        console.log("error");
                    }
                });
            }

        });

    };
    //back btn different
    document.addEventListener('click', function (event) {
        if (event.target.classList.contains('backButton')) {
            history.back();
        }
    });
    $(document).ready(function () {

        if ("@ViewData["Heading"]" == "My Profile") {
            $(".editprofile,  .save, .dltacc, .upload-btn").css("display", "none");
            $("#reqtoadminbtn").css("display", "block");
        }
    });
    $(document).ready(function () {
        console.log("abcjsbhfjd");
        if ("@ViewData["Heading"]" == "Edit Physician Account") {
            $(".crtacc").css("display", "none");
        }
    });
</script>