﻿@{
    Layout = "_AdminLayout";
}
@model HaloDocDataAccess.ViewModels.AdminDetailsInfo
@using static HaloDocDataAccess.ViewModels.Constant;
@* --------------- Main Form --------------------------  *@
<div class="container viewcasecard">
    @* --------------- Modal Header --------------------------  *@
    <div class="d-flex justify-content-between mb-4">
        <div class="d-flex justify-content-evenly">
            <h5 class="mt-3"><strong>Add Admin Account</strong></h5>
        </div>
        <div>
            <a class="btn border border-info text-info shadow-none backButton">
                <i class="fa fa-angle-left pe-1 text-info "> </i> Back
            </a>
        </div>

    </div>
    <div class="p-3 bg-white">
        @* Account Information  *@
        <form method="post" class="needs-validation" novalidate asp-action="AddAdminPost" asp-controller="AdminProfile">
            <div class="row">
                <input type="hidden" asp-for="AdminId" />
                <h6><strong>Account Information</strong></h6>
                <div class="col-lg-6">
                    <input asp-for="UserName" class="form-control col-md mt-4"
                           type="text"
                           placeholder="UserName" required />
                </div>
                <div class="col-lg-6">
                    <input asp-for="Password" class="form-control form-control-md col-md col-sm mt-4"
                           type="password"
                           placeholder="Password" required />
                    <span class="invalid-feedback">
                        Please enter the password.
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="dropdown col-lg-6 mt-4">
                    <select asp-for="Status" type="text" class="form-select mb-3" placeholder="Status" asp-items="@new SelectList(Enum.GetNames(typeof(ProviderStatus)))"></select>

                </div>
                <div class="dropdown col-lg-6 mt-4">
                    <select class="form-select mb-3" required asp-for="Role" data-allow-clear="true" tabindex="-1" asp-items="@(new SelectList(ViewBag.Role, "RoleId", "Name"))" data-control="" data-placeholder="Select Role" id="role">
                    </select>
                </div>
            </div>
            @* Administrator Information  *@
            <input type="hidden" asp-for="AdminId" />
            <div class="row">
                <h6><strong>Administrator Information</strong></h6>
                <div class="col-lg-6">
                    <input asp-for="FirstName" class="form-control mt-4"
                           type="text"
                           id="uname"
                           placeholder="FirstName" required />
                </div>
                <div class="col-lg-6">
                    <input asp-for="LastName" class="form-control   mt-4"
                           type="text"
                           id="pwd"
                           placeholder="LastName" required />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <input asp-for="Email" class="form-control  mt-4"
                           type="email" id="email"
                           placeholder="Enter Email" required />

                </div>
                <div class="col-lg-6">
                    <input asp-for="ConfEmail" class="form-control  mt-4"
                           type="email" id="cemail"
                           placeholder="Confirm Email" required />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 mt-1">
                    <input id="phone1"
                           asp-for="Phone"
                           type="tel"
                           class="form-control iti" />
                </div>
                <input asp-for="Regionsid" type="hidden" id="regionids" />
                <div class="col-sm-6 mt-1 form-check d-flex flex-wrap fs-5">
                    @foreach (var cb in ViewBag.AssignCase)
                    {
                        @if (Model != null && Model.Regionids.Count > 0 && Model.Regionids.Exists(id => id.RegionId == cb.RegionId))
                        {
                            <div class="form-check mx-2">
                                <input class="form-check-input" value="@cb.RegionId" type="checkbox" name="RegionId" id="flexCheckDefault" checked>
                                <label class="form-check-label" for="flexCheckDefault">
                                    @cb.Name
                                </label>
                            </div>
                        }
                        else
                        {
                            <div class="form-check mx-2">
                                <input class="form-check-input" value="@cb.RegionId" type="checkbox" name="Region" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    @cb.Name
                                </label>
                            </div>
                        }
                    }
                </div>
            </div>

            @* </form> *@
            @* <form method="post" asp-action="BillingInfoEdit" asp-controller="AdminProfile"> *@
            <input type="hidden" asp-for="AdminId" />

            <div class="row">
                <h6><strong>Mailing Information</strong></h6>

                <div class="col-lg-6">
                    <input asp-for="Add1" class="form-control mt-4"
                           type="text" id="add1"
                           placeholder="Address 1" required />
                </div>
                <div class="col-lg-6">
                    <input asp-for="Add2" class="form-control mt-4"
                           type="text" id="add2"
                           placeholder="Address 2" required />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <input asp-for="City" class="form-control  mt-4"
                           type="text" id="city"
                           placeholder="City" required />
                </div>
                <div class="col-lg-6 mt-4">
                    <select asp-for="State" class="form-select" placeholder="Account">
                        @foreach (var item in Enum.GetValues(typeof(StateLists)))
                        {
                            <option value="@((int)item)">@item.ToString()</option>
                        }
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <input asp-for="Zip" class="form-control"
                           type="text" id="zip"
                           placeholder="Zip" required />
                </div>
                <div class="col-lg-6">
                    <input id="phone2"
                           type="tel"
                           asp-for="PhoneForBill"
                           class="form-control  iti" />
                </div>
            </div>
            @* edit button *@
            <div class="d-flex justify-content-end mt-4">
                <input type="submit" class="input btn-success  rounded px-3 py-2  crtacc" value="Create Account">
            </div>
        </form>
    </div>
</div>


<script>
    $('#submitform').on('submit', function (e) {
        event.preventDefault();

        var clonedForm = $(this).clone();
        if (!$('#submitform')[0].checkValidity()) {
            return;
        }
        let checkboxes = document.querySelectorAll('input[name="RegionId"]:checked');

        let RegionIdList = [];
        checkboxes.forEach((checkbox) => {
            RegionIdList.push(checkbox.value);
        });
        console.log(RegionIdList);
        document.querySelector('#regionids').value = RegionIdList.join(',');
        var physiciandata = $('#submitform').serialize();
        console.log(physiciandata);
        $.ajax({
            type: 'POST',
            url: '@Url.Action("AddAdminPost", "AdminProfile")',
            data: physiciandata,
            success: function (response) {
                console.log('Data sent successfully', response);
            },
            error: function (error) {
                console.log('Error sending data', error);
            }
        });
    });
</script>