@{
    string path = Context.Request.Path;
}
@using HaloDocRepository.Interface;
@inject ILoginRepository loginRepository
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Dashboard</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
          crossorigin="anonymous" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <script src="https://kit.fontawesome.com/1e35b465f7.js"
            crossorigin="anonymous"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" />
    <link />
    @* <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script> *@
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-toast-plugin/1.3.2/jquery.toast.min.js" integrity="sha512-zlWWyZq71UMApAjih4WkaRpikgY9Bz1oXIW5G0fED4vk14JjGlQ1UmkGM392jEULP8jbNMiwLWdM8Z87Hu88Fw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <link rel="stylesheet" href="~/css/admin.css" />
</head>
<body>
    @*----------Main Header--------------*@
    <header class="d-flex justify-content-between ">
        <img src="~/images/HaloDoc-Logo.png"
             alt=""
             class="logo-img" />
        <div class="d-flex align-items-center justify-content-evenly">
            <span class="d-none d-sm-block mx-2">Welcome<strong class="text-info mx-2">@CV.UserName()</strong></span>
            <div class="ml-4 mx-3">
                <button class="btn border-info">
                    <a class="text-decoration-none text-info" asp-controller="Admin" asp-action="Logout">Logout</a>
                </button>
            </div>
            <div class="mx-2" onclick="myFunction()">
                <div class="toggle-btn border-secondary" onclick="myFunction()">
                    <i class="fa fa-2x fa-moon-o text-info border rounded p-2" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </header>
    @*----------Admin Pages Header--------------*@
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 mt-4 subnav">
        @if (loginRepository.isAccessGranted((int)CV.RoleID(), "DashBoard"))
        {
            <ul class="nav-item">
                <li class="nav-link">
                    <a class="nav-link px-3 text-dark  @(path.EndsWith("/Admin") ? "activeNav" : "")" aria-current="page" asp-action="Index" asp-controller="Admin">Dashboard</a>
                </li>
            </ul>
        }
        @if (loginRepository.isAccessGranted((int)CV.RoleID(), "ProviderLocations"))
        {
            <ul class="nav-item">
                <li class="nav-link">
                    <a class="nav-link px-3 text-dark  @(path.EndsWith("/ProviderLocation") ? "activeNav" : "")" aria-current="page" asp-action="Index" asp-controller="ProviderLocation">ProviderLocation</a>
                </li>
            </ul>
        }

        @if (loginRepository.isAccessGranted((int)CV.RoleID(), "My Profile"))
        {
            @if (CV.role() == "Admin")
            {
                <ul class="nav-item">
                    <li class="nav-link">
                    <a class="nav-link px-3 text-dark  @(path.EndsWith("/AdminProfile") ? "activeNav" : "")" aria-current="page" asp-action="Index" asp-controller="AdminProfile">MyProfile</a>
                </li>
            </ul>
            }
            @if (CV.role() == "Physician")
            {
                <ul class="nav-item">
                    <li class="nav-link">
                        <a class="nav-link px-3 text-dark  @(path.EndsWith("/AdminProfile") ? "activeNav" : "")" aria-current="page" asp-action="ProviderProfile" asp-controller="Provider" asp-route-pId="@CV.UserId()">MyProfile</a>
                    </li>
                </ul>
            }


        }
        @if (CV.role() == "Admin")
        {
            <ul class="nav-item dropdown ">
                @{
                    var activePaths = new[] { "/Provider", "/Scheduling" };
                    var activeClass = activePaths.Any(path.EndsWith) ? "activeNav" : "";
                }
                <a class="nav-link dropdown px-2 text-dark @activeClass " id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Providers
                </a>
                <li class="dropdown-menu" aria-labelledby="navbarDropdown">
                    @if (loginRepository.isAccessGranted((int)CV.RoleID(), "Provider"))
                    {
                        <a class="dropdown-item" asp-action="Index" asp-controller="Provider">Provider</a>
                    }
                    @if (loginRepository.isAccessGranted((int)CV.RoleID(), "Scheduling"))
                    {
                        <a class="dropdown-item" asp-action="Index" asp-controller="Scheduling">Scheduling</a>
                    }
                    @if (loginRepository.isAccessGranted((int)CV.RoleID(), "Invoicing"))
                    {
                        <a class="dropdown-item" href="#"> Invoicing</a>
                    }
                </li>
            </ul>
        }
        @if (CV.role() == "Physician")
        {
            @if (loginRepository.isAccessGranted((int)CV.RoleID(), "MySchedule"))
            {
                <ul class="nav-item">
                    <li class="nav-link">
                        <a class="nav-link px-2 text-dark" asp-action="Index" asp-controller="Scheduling">My Schedule</a>
                    </li>
                </ul>
            }
            @if (loginRepository.isAccessGranted((int)CV.RoleID(), "Invoicing"))
            {
                <ul class="nav-item">
                    <li class="nav-link">
                        <a class="nav-link px-2 text-dark">Invoicing</a>
                    </li>
                </ul>
            }
        }

        @if (loginRepository.isAccessGranted((int)CV.RoleID(), "VendorsInfo"))
        {
            <ul class="nav-item">
                <li class="nav-link">
                    <a class="nav-link px-3 text-dark  @(path.EndsWith("/Partners") ? "activeNav" : "")" aria-current="page" asp-action="Index" asp-controller="Partners">Partners</a>
                </li>
            </ul>
        }
        @if (loginRepository.isAccessGranted((int)CV.RoleID(), "Role"))
        {
            <ul class="nav-item">
                @{
                    var activePath = new[] { "/Access", "/UserAccess" };
                    var activeClasses = activePath.Any(path.EndsWith) ? "activeNav" : "";
                }
                <a class="nav-link dropdown px-2 text-dark @activeClasses" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Access
                </a>
                <li class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" asp-action="Index" asp-controller="Access">Account Access</a>
                    <a class="dropdown-item" asp-action="UserAccess" asp-controller="Access">User Access</a>
                </li>
            </ul>
        }
        @if (CV.role() == "Admin")
        {
            <ul class="nav-item">
                @{
                    var activepath = new[] { "/RecordsSearch", "/PatientHistory", "RecordsBlock", "/EmailLogs" };
                    var activeclass = activepath.Any(path.EndsWith) ? "activeNav" : "";
                }
                <a class="nav-link dropdown px-2 text-dark @activeclass" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Records
                </a>
                <li class="dropdown-menu" aria-labelledby="navbarDropdown">
                    @if (loginRepository.isAccessGranted((int)CV.RoleID(), "History"))
                    {
                        <a class="dropdown-item" asp-action="RecordsSearch" asp-controller="Records">Search Records</a>
                    }
                    @if (loginRepository.isAccessGranted((int)CV.RoleID(), "EmailLogs"))
                    {
                        <a class="dropdown-item" asp-action="EmailLogs" asp-controller="Records">Email Logs</a>
                    }
                    @if (loginRepository.isAccessGranted((int)CV.RoleID(), "SMSLogs"))
                    {
                        <a class="dropdown-item" asp-action="RecordsSMSLog" asp-controller="Records">SMS Logs</a>
                    }
                    @if (loginRepository.isAccessGranted((int)CV.RoleID(), "PatientRecords"))
                    {
                        <a class="dropdown-item" asp-action="PatientHistory" asp-controller="Records">Patient Records</a>
                    }
                    @if (loginRepository.isAccessGranted((int)CV.RoleID(), "BlockedHistory"))
                    {
                        <a class="dropdown-item" asp-action="RecordsBlock" asp-controller="Records">Blocked History</a>
                    }
                </li>
            </ul>
        }

    </nav>
    <main class="main">
        @RenderBody()
    </main>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</body>
<script>
    const phoneInputField = document.querySelector("#phone");
    const phoneInput = window.intlTelInput(phoneInputField, {
        utilsScript:
            "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
    });
</script>
<script>
    // validation script
    (function () {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
    })()
</script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="@Url.Content("~/plugins/mvc-jquery-ajax/jquery.unobtrusive-ajax.js")"></script>
<script src="@Url.Content("~/plugins/mvc-jquery-validate/jquery.validate.js")"></script>
<script src="@Url.Content("~/plugins/mvc-jquery-validate/jquery.validate.unobtrusive.js")"></script>
@await Component.InvokeAsync("Notyf")
</html>

